<div class="headerMainContent">
  <div><img src="{{ section.settings.iconoIzquierdoHeader | img_url: 'medium' }}" alt="">
  </div>
  <div>
    <div>
      <h2>
        {{ section.settings.subtitleHeader }}</h2>
    </div>
    <div>
      <h1>{{ section.settings.titleHeader }}</h1>
    </div>
    <div>
      <p>{{ section.settings.textHeader }}</p>
    </div>
    <div>
      {{ section.settings.buttonHeader }}
    </div>
  </div>
  <div>
    <img src="{{ section.settings.bottonRightIconHeader1 | img_url: 'medium' }}" alt="">
    <img src="{{ section.settings.bottonRightIconHeader2 | img_url: 'medium' }}" alt="">
    <img src="{{ section.settings.bottonRightIconHeader3 | img_url: 'medium' }}" alt="">
  </div>
</div>

<style>
  .headerMainContent {
    height: 100vh;
    width: calc(100% - 4rem / var(--font-body-scale));
    display: flex;
    flex-direction: column;
    background-color: blue;
  }
</style>

{% schema %}
  {
    "name": "header-info",
    "settings": [
      {
        "type": "image_picker",
        "id": "iconoIzquierdoHeader",
        "label": "Enter the top left icon"
      },
      {
        "type": "text",
        "id": "subtitleHeader",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "titleHeader",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "textHeader",
        "label": "Text"
      }, {
        "type": "buttons",
        "name": "buttonHeader",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "button_label_1",
            "default": "Button label",
            "label": "buttonHeaderl",
            "info": "buttonHeader Info"
          },
          {
            "type": "url",
            "id": "button_link_1",
            "label": "URL"
          },
          {
            "type": "checkbox",
            "id": "button_style_secondary_1",
            "default": false,
            "label": "s"
          },
          {
            "type": "text",
            "id": "button_label_2",
            "default": "Button label",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_label_2.label",
            "info": "t:sections.image-banner.blocks.buttons.settings.button_label_2.info"
          }, {
            "type": "url",
            "id": "button_link_2",
            "label": "t:sections.image-banner.blocks.buttons.settings.button_link_2.label"
          }, {
            "type": "checkbox",
            "id": "button_style_secondary_2",
            "default": false,
            "label": "t:sections.image-banner.blocks.buttons.settings.button_style_secondary_2.label"
          }
        ]
      }

    ],
    "presets": [
      {
        "name": "Header-Settings",
        "blocks": [
          {
            "type": "heading"
          }, {
            "type": "text"
          }, {
            "type": "buttons"
          }
        ]
      }
    ]
  }
{% endschema %}