<div class="headerMainContent">
  <div>
    <img src="{{ section.settings.iconoIzquierdoHeader | img_url }}" alt="">
  </div>
  <div>
    <div>
      <h2>
        {{ section.settings.subtitleHeader }}</h2>
    </div>
    <div>
      <h1>{{ section.settings.titleHeader }}</h1>
    </div>
    <div>
      <p>{{ section.settings.textHeader }}</p>
    </div>
    <div>
      <a href="{{section.settings.urlButton}}">
        <button>{{ section.settings.buttonText }}</button>
      </a>

    </div>
  </div>
  <div>
    <img src="{{ section.settings.bottonRightIconHeader1 | img_url }}" alt="">
    <img src="{{ section.settings.bottonRightIconHeader2 | img_url }}" alt="">
    <img src="{{ section.settings.bottonRightIconHeader3 | img_url }}" alt="">
  </div>
</div>

<style>
  .headerMainContent {
    height: 100vh;
    width: calc(100% - 4rem / var(--font-body-scale));
    display: flex;
    flex-direction: column;
    background-color: blue;
  }
</style>

{% schema %}
  {
    "name": "header-info",
    "settings": [
      {
        "type": "image_picker",
        "id": "iconoIzquierdoHeader",
        "label": "Enter the top left icon"
      },
      {
        "type": "text",
        "id": "subtitleHeader",
        "label": "Subtitle"
      },
      {
        "type": "text",
        "id": "titleHeader",
        "label": "Title"
      },
      {
        "type": "text",
        "id": "textHeader",
        "label": "Text"
      }, {
        "type": "text",
        "id": "buttonText",
        "label": "Button Text"
      }, {
        "type": "url",
        "id": "urlButton",
        "label": "Button URL"
      }, {
        "type": "image_picker",
        "id": "bottonRightImg1",
        "label": "Botton Imagen 1"
      }, {
        "type": "image_picker",
        "id": "bottonRightImg2",
        "label": "Botton Imagen 2"
      }, {
        "type": "image_picker",
        "id": "bottonRightImg3",
        "label": "Botton Imagen 3"
      }

    ],
    "presets": [
      {
        "name": "Header-Settings"
      }
    ]
  }
{% endschema %}