<div class="infoSection">
  <div class="wraperInfoSection">
    <div class="infoSectionImg">
      <img src="{{section.settings.infoFirstImg | img_url: '560x560' }}" alt="">
    </div>
    <div class="infoSectionText">
      <h3>{{ section.settings.infoFirstTitle }}</h3>
      <p>{{ section.settings.infoFirstText }}</p>
      <a href="{{section.settings.UrlFirstButton }}">
        <button class="buttons">{{ section.settings.infoFirstButtonText }}</button>
      </a>
    </div>
  </div>
  <div class="wraperInfoSection">
    <div class="infoSectionImg">
      <img src="{{section.settings.infoSecondImg | img_url: '560x560'}}" alt="">
    </div>
    <div class="infoSectionText">
      <h3>{{ section.settings.infoSecondTitle }}</h3>
      <p>{{ section.settings.infoSecondText }}</p>
      <a href="{{section.settings.UrlSecondButton }}">
        <button class="buttons">{{ section.settings.infoSecondButtonText }}</button>
      </a>
    </div>
  </div>
  <div class="infoSecctionBottonPart">
    <img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/Texture_1.svg?v=1696023312" alt="">
  </div>
</div>

<style>

  .infoSection {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    margin: 55px 0 -25px;

  }
  .wraperInfoSection {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .infoSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    width: 80vw;
  }
  .infoSectionImg img {
    width: 175px;
    border-radius: 8px;
  }
  .infoSectionText h3 {
    color: #00095B;
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1.12px;
    text-transform: uppercase;

  }
  .infoSectionText p {
    color: #4D4D4D;
    margin: 20px 0;
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 32px;
  }
  .infoSecctionBottonPart img {
    width: 99vw;
  }
  @media(min-width: 769px) {
    .infoSectionText h3 {
      font-size: 2.5rem;

    }
    .infoSectionImg img {
      width: 270px;
    }
  }
  @media(min-width: 1023px) {
    .wraperInfoSection {
      flex-direction: row;
    }
    .infoSection {
      margin: 55px 120px -25px;
    }
    .infoSectionImg img {
      width: 350px;
    }
  }
  @media(min-width: 1439px) {
    .wraperInfoSection:nth-child(2) {
      flex-direction: row-reverse;
      margin: 140px 0;
    }

  }
</style>
{% schema %}
  {
    "name": "infoSection",
    "settings": [
      {
        "type": "image_picker",
        "id": "infoFirstImg",
        "label": "First Image"
      },
      {
        "type": "image_picker",
        "id": "infoSecondImg",
        "label": "Second Image"
      },
      {
        "type": "text",
        "id": "infoFirstTitle",
        "label": "First Title"
      },
      {
        "type": "text",
        "id": "infoSecondTitle",
        "label": "Second Title"
      }, {
        "type": "text",
        "id": "infoFirstText",
        "label": "First Text"
      }, {
        "type": "text",
        "id": "infoSecondText",
        "label": "Second Text"
      }, {
        "type": "text",
        "id": "infoFirstButtonText",
        "label": "First Button Text"
      }, {
        "type": "text",
        "id": "infoSecondButtonText",
        "label": "Second Button Text"
      }, {
        "type": "url",
        "id": "UrlFirstButton",
        "label": "First Button URL"

      }, {
        "type": "url",
        "id": "UrlSecondButton",
        "label": "Second Button URL"

      }
    ]
  }
{% endschema %}