<div class="mainContent">
  <div class="mainContentTop">
    <img src="https://cdn.shopify.com/s/files/1/0832/5244/5464/files/Texture.svg?v=1695855363" alt="">
    <div class="mainContentWraper">
      <div class="mainContentMid">
        <img src="{{section.settings.mainImage | img_url}}" alt="">
        <p>{{ section.settings.textMainContent }}</p>
      </div>
      <div class="mainContentBotton">
        <img src="{{section.settings.imagenMain1 | img_url}}" alt="">
        <img src="{{section.settings.imagenMain2 | img_url}}" alt="">
        <img src="{{section.settings.imagenMain3 | img_url}}" alt="">
      </div>
    </div>
  </div>
</div>
<style>
  @media(min-width: 750px) {
    .mainContent {
      position: relative;
      z-index: 1;

      margin-top: -41px;
    }
    .mainContentTop img {
      width: 99vw;

    }
    .mainContentMid {
      display: grid;
      justify-items: center;
    }
    .mainContentMid img {
      width: 420px;
      height: 180px;
    }
    .mainContentMid p {
      font-size: 24px;
      width: 848px;
      font-weight: 500;
      line-height: 32px;
      margin: 62px 0;
    }

    .mainContentBotton img {
      height: 416px;
      margin-bottom: 150px;
    }
    .mainContentWraper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

  }
</style>

{% schema %}
  {
    "name": "Main-Info",
    "settings": [
      {
        "type": "image_picker",
        "id": "mainImage",
        "label": "Enter top main Image"
      },
      {
        "type": "text",
        "id": "textMainContent",
        "label": "Text MainContent"
      },
      {
        "type": "image_picker",
        "id": "imagenMain1",
        "label": "Botton Imagen 1"
      },
      {
        "type": "image_picker",
        "id": "imagenMain2",
        "label": "Botton Imagen 2"
      }, {
        "type": "image_picker",
        "id": "imagenMain3",
        "label": "Botton Imagen 3"
      }
    ],
    "presets": [
      {
        "name": "MainContent-Settings"
      }
    ]
  }
{% endschema %}